* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a:link {
  text-decoration: none;
}

.main-container{
  background-image: linear-gradient(to bottom right, #35b59d, #2d7578);
  height: auto;
}

.text-color1{
color:#2d7578
}

.btn1:hover {
  background: #80b4ab;
}